<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if profile.avatar.attached? %>
    <%= image_tag profile.avatar.variant(resize: "100x100") %>
  <% end %>
  <div id="rem_hid" class="hidden"><p>New Picture:</p>
    <img id="img_prev" height=100 max-width=100 src="#" class="img-thumbnail hidden"/>
  </div>


  <div class="field">
    <%= form.label :fname %>
    <%= form.text_field :fname %>
  </div>

  <div class="field">
    <%= form.label :lname %>
    <%= form.text_field :lname %>
  </div>

  <%= form.file_field :avatar, id: "avatar-upload" %>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <% if current_user.profile %>
    <%= form.hidden_field :total_games_played, value: current_user.profile.total_games_played %>
    <%= form.hidden_field :blob_games_played, value: current_user.profile.blob_games_played %>
    <%= form.hidden_field :blob_games_won, value: current_user.profile.blob_games_won %>
    <%= form.hidden_field :blob_games_lost, value: current_user.profile.blob_games_lost %>
    <%= form.hidden_field :blob_game_high_score, value: current_user.profile.blob_game_high_score %>
    <%= form.hidden_field :ogre_games_played, value: current_user.profile.ogre_games_played %>
    <%= form.hidden_field :ogre_games_won, value: current_user.profile.ogre_games_won %>
    <%= form.hidden_field :ogre_games_lost, value: current_user.profile.ogre_games_lost %>
    <%= form.hidden_field :ogre_game_high_score, value: current_user.profile.ogre_game_high_score %>
    <%= form.hidden_field :sky_games_played, value: current_user.profile.sky_games_played %>
    <%= form.hidden_field :sky_game_high_score, value: current_user.profile.sky_game_high_score %>
  <% else %>
    <%= form.hidden_field :total_games_played, value: 0 %>
    <%= form.hidden_field :blob_games_played, value: 0 %>
    <%= form.hidden_field :blob_games_won, value: 0 %>
    <%= form.hidden_field :blob_games_lost, value: 0 %>
    <%= form.hidden_field :ogre_games_played, value: 0 %>
    <%= form.hidden_field :ogre_games_won, value: 0 %>
    <%= form.hidden_field :ogre_games_lost, value: 0 %>
    <%= form.hidden_field :sky_games_played, value: 0 %>
    <%= form.hidden_field :blob_game_high_score, value: 0 %>
    <%= form.hidden_field :ogre_game_high_score, value: 0 %>
    <%= form.hidden_field :sky_game_high_score, value: 0 %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<p>
  <strong>Total games played:</strong> <%= @profile.total_games_played %>
</p>

<p>
  <strong>Blob games played:</strong> <%= @profile.blob_games_played %>
</p>

<p>
  <strong>Blob games won:</strong> <%= @profile.blob_games_won %>
</p>

<p>
  <strong>Blob games lost:</strong> <%= @profile.blob_games_lost %>
</p>

<p>
  <strong>Blob game high score:</strong> <%= @profile.blob_game_high_score %>
</p>

<p>
  <strong>Ogre games played:</strong> <%= @profile.ogre_games_played %>
</p>

<p>
  <strong>Ogre games won:</strong> <%= @profile.ogre_games_won %>
</p>

<p>
  <strong>Ogre games lost:</strong> <%= @profile.ogre_games_lost %>
</p>

<p>
  <strong>Ogre game high score:</strong> <%= @profile.ogre_game_high_score %>
</p>

<p>
  <strong>Sky games played:</strong> <%= @profile.sky_games_played %>
</p>

<p>
  <strong>Sky game high score:</strong> <%= @profile.sky_game_high_score %>
</p>
