<%= javascript_include_tag 'dist/phaser2.min.js' %>
<%= javascript_include_tag 'sky_game/sky_game.js' %>
<%= javascript_include_tag 'sky_game/stateInstructions.js' %>
<%= javascript_include_tag 'sky_game/stateOver.js' %>
<%= javascript_include_tag 'sky_game/stateMain.js' %>
<%= javascript_include_tag 'sky_game/stateTitle.js' %>
<div align="center">
    <div id="ph_game"></div>
</div>