<!DOCTYPE html>
<html>
  <head>
    <title>GroupFinalProject</title>
        <%= favicon_link_tag asset_path('joystick.png'), :rel => 'icon', :type =>  'image/png' %>
        <meta name="viewport" content="initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shojumaru" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class ="splash">
    <nav class="nav-wrapper purple">
      <a href="#" class="brand-logo right"><div>Arcade</div></a>

      <div id="nav-mobile" class="left">
        <%if !current_user%>
          <a href="/users/sign_in"><div>Log in</div></a>
          <a href="/users/sign_up"><div>Sign Up</div></a>
        <% end %>

        <% if current_user %>
          <a href="/logout"><div>Log Out</div></a>

          <% if current_user.profile %>
            <a href="/profiles/<%= current_user.profile.id %>"><div>Profile</div></a>
          <% end %>

        <a href="/games"><div>Games</div></a>
        <% end %>

      </div>
    </nav>
    <%= yield %>
  </body>
</html>
