<!DOCTYPE html>
<html>
  <head>
    <title>GroupFinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
        <a href="/users/sign_in"><div>Log in</div></a>
        <a href="/users/sign_up"><div>Sign Up</div></a>
      
      <% if current_user %>
        <a href="/logout"><div>Log Out</div></a>
        <% if current_user.profile %>
        <a href="/profiles<% current_user.profile.id %>"><div>Profile</div></a>
        <% end %>
        <a href="/games"><div>Games</div></a>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
